/* css for big screen / default  */

* {
    margin: 0;
    padding: 0;

}



.flex-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.grid-box {
    display: grid;
}


.color-radius {
    background-color: white;
    border-radius: 30px;
    /* box-shadow: #2d2828 0px 0px 8px 0px */
    box-shadow: #f5ecec 0px 0px 20px 3px;
    font-family: 'Nova Square', sans-serif;
}


.height-first-div {
    height: 27vw;

}

.div-hight {
    height: 19vw;

}

.two-box-width {
    width: 48%;
}

.width-sm {

    width: 46%;
}

.img1 {

    border-radius: 30px 0px 30px 0;
    height: 200px;
    margin: 20px;
    background-color: thistle;
}

.img1-div-size {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.marqe {
    height: 5vw;
    line-height: 5vw;
    font-size: 2vw;
}


.height-bottom {
    justify-content: space-between;
    align-items: flex-end;

    display: flex;
}

.midlayer {
    width: 26%;
}

#mid {
    width: 40%;
}

.con-margin {
    margin: 4% 0;

}

.grid-align {
    display: grid;
    align-content: space-evenly;
    justify-items: center;
}

.img2 {
    width: 80%;
}

.flex-align {
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    text-align: left;

}

.pera-s {
    font-size: 70%;
    margin-bottom: 5px;

}

.pera-l {
    font-weight: bold;
    margin: 0;
    font-size: 105%;
}

.icon-size {
    margin: 1vw;
    font-size: 6vw;
}

.clint-box {
    font-size: 2vw;
}

.font {
    margin: 2vh;
}

.lep-text {
    position: absolute;
    padding-bottom: 30px;
    z-index: 4;
    font-weight: 700;

    text-shadow: 0px 0px 1px red;
}

.arrowimg {
    filter: brightness(0.5);

}

.arrowimg:hover {
    filter: drop-shadow(0px 1px 3px black);
}

.dark-color {
    background-color: #262525eb;
    color: white;
}
.projectCon {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {

    display: grid;
    width: 18vw;
    height: 19vw;
}

.card-img {
    width: 250px;
    border-radius: 10px;
}

.project-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project-cards{
    display: flex;
}

#sarjeet{
    font-size: xx-large; 
    width: min-content;
    
}
#profile-box{
    justify-content: center;
}



/* css for mobile screen  */



@media (max-width: 700px) {

    .flex-justify {

        flex-direction: column;
        justify-content: center;

    }

    .two-box-width {
        width: 100%;
        margin: 4% 0
    }

    .midlayer {
        width: 100%;
        margin: 4% 0;
    }

    #mid {
        width: 100%;
    }

    .con-margin {
        margin: 0%;
    }

    .flex-direc {
        flex-wrap: wrap;
        width: 100%;
    }

    .height-first-div {
        height: 43vh;

    }

    .marqe {
        height: 6vh;
        line-height: 6vh;
        font-size: 4vh;
    }

    .icon-size {
        margin: 5vh;
        font-size: 8vh;

    }

    .img1 {
        height: 25vh
    }

    .img2 {
        width: 15vh;
    }

    .div-hight {
        height: 30vh;
    }

    .clint-box {
        font-size: 10vw;

    }

    .jsi {
        justify-items: center;
    }

    .height-bottom {
        height: 32vh;
    }

    .card {
        height: 30vh;
        margin: 4% 0;
        width: 87vw;


    }
    .projectCon{
        box-shadow: none;
    }
    .card-img{
	width:250px;
}
.card .pera-s{
font-size: x-large;
}
.card .pera-l{
font-size: xx-large;
}


}


/* tablet view screen css  */

@media (min-width:700px) and (max-width: 1200px) {

.flex-justify{
    flex-wrap: wrap;
    flex-direction: column;
    
}
.two-box-width{
   width: 100%;
}
.height-first-div{
    justify-content: center;
    text-align: left;
    /* margin: 4% 0; */
    height: 43vw;
}
.grid-align{
    height: 34vw;
}
.midlayer, #mid {
    width: 100%;
}

#box2 .div-hight, #height-three .div-hight{
    margin: 4% 0;
}

#profile-box{
    justify-content: center;
     text-align: left;
     margin: 4% 0;
     flex-direction: row;
}
#sarjeet{
    font-size: 6vw;
    width: min-content;
    text-align: start;
}
.img1{
height: 30vw;
}
.card{
    width: auto;
    margin-top: 20%;
    grid-row-gap: 50px;
}
.projectCon{
    display: grid;
    grid-template-columns: 46% 46%;
}

}
